
\.DS_Store

Pods/

*.xcuserstate

firstMiniChallenge\.xcodeproj/xcuserdata/Baldev\.xcuserdatad/xcdebugger/

firstMiniChallenge\.xcworkspace/xcuserdata/Baldev\.xcuserdatad/xcdebugger/

firstMiniChallenge\.xcodeproj/xcuserdata/Baldev\.xcuserdatad/xcschemes/xcschememanagement\.plist
